.contenedorperfil{
    background-color: #F4F4F4;
    height: 100vh;
    background-image: url('/Img/HOJAS2.png');
    background-repeat: no-repeat;

}

.perfil2 h1{
    color: #70AE3E;
    font-size: 38px;
    margin-top: 25%;
    margin-bottom: 5px;
}

.regresar{
    position: absolute;
    color: #70AE3E;
    font-weight: 700;
    margin-top: 9%;
    margin-left: 25%;
}

.perfil2 p{
    color: #B02828;
    font-size: 20px;
}

.perfil img{
    margin-top: 50%;
    margin-left: 15%;
}

.cont2perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.perfil2 .ocupacion{
    display: flex;
    align-items: center;
}

.ocupacion h2{
    margin-right: 10px;
    font-size: 20px;
    color: #70AE3E;
}

.perfil2 .titulo{
    margin-top: 20px;
}

.hr2{
    margin-top: 60px;
    background-color: #F4F4F4;
    width: 500px;
    margin-left: 30%;
    border: 2px solid #70AE3E;   
}





/**/


.contenedorperfil .sectioncartas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color: #F4F4F4;
}

.contenedorperfil .sectioncartas .carta{
    background-color: #70AE3E;
    padding: 30px;
    border-radius: 20px;
    color: white;
    margin: 20px 5px;
    flex-direction: column;
    display: flex;
}

.contenedorperfil .sectioncartas .carta a{
    text-decoration: none;
    color:#70AE3E;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    background-color: white;
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10%
}

.contenedorperfil .sectioncartas .carta a:hover{
    background-color: rgb(232, 232, 232);
}

.contenedorperfil .sectioncartas .carta img{
    border-radius: 20px;
    margin-bottom: 10px;
    width: 240px;
    height: 150px;
}

.carta p{
    font-size: 18px;
}

.carta h2{
    font-size: 17px;
}

.cardperfil h3{
    padding: 50px;
    text-align: center;
    color: #70AE3E;
    font-size: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

.footerperfil{
    margin-top: 60px;
}